.idea
.vscode

venv

__pycache__/
*.egg-info

*.env
*.sqlite3

**/static/**/dist/**
**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/media/**

*.mo
*.pot

*.png
*.jpg
